{% extends "admin/layout.html"%}
{% block title %}Kullanıcılar{% endblock %}
{% block content %}

<head>
	<meta charset = "utf-8">
</head>



  <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Lig Tablo</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Lig</th>
                  <th>Ülke</th>
                  <th>İşlem</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Lig</th>
                  <th>Ülke</th>
                  <th>İşlem</th>
                </tr>
              </tfoot>
              <tbody>
					{% for id, leagueName, country in leagues%}
						<tr>
							<input type= "hidden" name = "id" value = "{{ id }}"></input>
							<td> {{ leagueName }} </td>
							<td> {{ country }} </td>
							<td>
								<button onclick="location.href = '{{ url_for('leagueTableUpdate', id=id) }}'" type ="submit" class = "btn btn-success" value="{{id}}"> Düzenle</button>
								<button onclick="location.href = '{{ url_for('leagueTableDelete', id=id) }}'" type ="submit" class = "btn btn-danger"> Sil </button>
							</td>
						</tr>
					{% endfor %}

					<tr id="add_row" style="display: none;">
						<form action ="/leagueTable", method ="post", id ="AddLeague">
							<td><input class = "form-control input-sm" type="text" placeholder ="lig" name="leagueName">  </td>
							<td><input class = "form-control input-sm" type="text" placeholder ="ülke" name="country">  </td>
							<td>
								<div class = "btn-group-sm">
									<button  type ="submit" form ="AddLeague" class = "btn btn-primary" value = "Submit">Ekle  </button>
									<button type ="button" onclick = "myCancelFunction()" class = "btn btn-danger">İptal  </button>
								</div>
							</td>
						</form>
					</tr>
              </tbody>
            </table>

            <button id ="satir_ekle_btn" onclick = "myCreateFunction()" class="btn btn-primary btn-block">Yeni Lig Ekle</button>

          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>



<script>
function myCreateFunction()
{
	var result_style = document.getElementById('add_row').style;
	result_style.display = 'table-row';
	var button_style = document.getElementById('satir_ekle_btn').style;
	button_style.display = 'none';
}

function myCancelFunction()
{
	var result_style = document.getElementById('add_row').style;
	result_style.display = 'none';
	$("#satir_ekle_btn").show();
}
</script>






{% endblock %}