
{% extends "admin/layout.html"%}
{% block title %}Profil{% endblock %}
{% block content %}

<head>
	<meta charset = "utf-8">

</head>




<div class="row">
		<div class="panel panel-primary">

			<div class="panel-heading">
		    	<h1 class="panel-title">Bahis Yapılabilecek Maç Bilgileri</h1>
			</div>

			<div class="panel-body">
				<table class="table">
					<tbody>
						<tr class = "info">
							<th> Saat </th>
							<th> Tarih </th>
							<th> Ev Sahibi </th>
							<th> Deplasman </th>
						</tr>

						{% for id, matchTime, matchDate, homeTeamId, homeTeamScore, guestTeam, guestTamScore, result in matches%}
						<tr>
							<td> {{ matchTime }} </td>
							<td> {{ matchDate }} </td>
							<td> {{ homeTeamId }} </td>
							<td> {{ guestTeam }} </td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
<!-- 	</div> -->
</div>


    {% endblock %}