<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>

		<br>
		<br>
		<form action="" method="post" id = "editUser">
		{% for id, teamName, teamleague, teamchampionsleague, teamuefaleague, teamcountry in teams %}
		<table class="table">
  			<thead>
    			<tr>
      				<th>#</th>
      				<th>Güncellenecek Bilgiler</th>
    			</tr>
  			</thead>
  			<tbody>
  				<input type="text" class="hidden" id="id" value= "{{ id }}"/>
    			<tr>
      				<th scope="row">Takım:</th>
      				<td><input type="text" style="width: 220px;" class="form-control" name="teamName" value="{{ teamName }}"></td>
    			</tr>
    			<tr>
      				<th scope="row">Ligi:</th>
      				<td><input type="text" style="width: 220px;" class="form-control" name="teamleague" value="{{ teamleague }}"></td>
    			</tr>
    			<tr>
      				<th scope="row">şampiyonlar ligi:</th>
      				<td><input type="text" style="width: 220px;" class="form-control" name="teamchampionsleague" value="{{ teamchampionsleague }}"></td>
    			</tr>
    			<tr>
      				<th scope="row">uefa:</th>
      				<td><input type="text" style="width: 220px;" class="form-control" name="teamuefaleague" value="{{ teamuefaleague }}"></td>
    			</tr>
    			<tr>
      				<th scope="row">Ülke:</th>
      				<td><input type="text" style="width: 220px;" class="form-control" name="teamcountry" value="{{ teamcountry }}"></td>
    			</tr>
  			</tbody>
		</table>
		{% endfor %}

				<button  type ="submit" form ="editUser" class = "btn btn-success pull-right" value = "Submit">Güncelle  </button>
		</form>





	</body>
</html>