{% extends "admin/layout.html"%}
{% block title %}Bahisler{% endblock %}
{% block content %}

<head>
	<meta charset = "utf-8">
</head>



  <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Table Example</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Maç id</th>
                  <th>tahmin</th>
                  <th>değer</th>
                  <th>kazandı</th>
                  <th>kullanıcı</th>
                  <th>İşlem</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Maç id</th>
                  <th>tahmin</th>
                  <th>değer</th>
                  <th>kazandı</th>
                  <th>kullanıcı</th>
                  <th>İşlem</th>
                </tr>
              </tfoot>
              <tbody>
					{% for id, matchId, userExpect, wagerValue, wagerWin, userId in wagers%}
						<tr>
							<input type= "hidden" name = "id" value = "{{ id }}"></input>
							<td> {{ matchId }} </td>
							<td> {{ userExpect }} </td>
							<td> {{ wagerValue }} </td>
							<td> {{ wagerWin }} </td>
							<td> {{ userId }} </td>
							<td>
								<button onclick="location.href = '{{ url_for('wagerTableUpdate', id=id) }}'" type ="submit" class = "btn btn-success" value="{{id}}"> Düzenle</button>
								<button onclick="location.href = '{{ url_for('wagerTableDelete', id=id) }}'" type ="submit" class = "btn btn-danger"> Sil </button>
							</td>
						</tr>
					{% endfor %}

					<tr id="add_row" style="display: none;">
						<form action ="/wagerTable", method ="post", id ="AddWager">
							<td><input class = "form-control input-sm" type="text" placeholder ="maç id" name="matchId">  </td>
							<td><input class = "form-control input-sm" type="text" placeholder ="iddaa" name="userExpect">  </td>
							<td><input class = "form-control input-sm" type="text" placeholder ="değeri" name="wagerValue">  </td>
							<td><input class = "form-control input-sm" type="text" placeholder ="kazandı" name="wagerWin">  </td>
							<td><input class = "form-control input-sm" type="text" placeholder ="kullanıcı id" name="userId">  </td>
							<td>
								<div class = "btn-group-sm">
									<button  type ="submit" form ="AddWager" class = "btn btn-primary" value = "Submit">Ekle  </button>
									<button type ="button" onclick = "myCancelFunction()" class = "btn btn-danger">İptal  </button>
								</div>
							</td>
						</form>
					</tr>
              </tbody>
            </table>

            <button id ="satir_ekle_btn" onclick = "myCreateFunction()" class="btn btn-primary btn-block">Yeni Bahis Ekle</button>

          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>



<script>
function myCreateFunction()
{
	var result_style = document.getElementById('add_row').style;
	result_style.display = 'table-row';
	var button_style = document.getElementById('satir_ekle_btn').style;
	button_style.display = 'none';
}

function myCancelFunction()
{
	var result_style = document.getElementById('add_row').style;
	result_style.display = 'none';
	$("#satir_ekle_btn").show();
}
</script>






{% endblock %}