<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>

		<br>
		<br>
		<form action="" method="post" id = "wager">
		<table class="table">
  			<thead>
    			<tr>
      				<th>#</th>
      				<th>Bahis Bilgileri</th>
    			</tr>
  			</thead>
  			<tbody>
    			<tr>
      				<th scope="row">Kullanıcı beklentisi:</th>
      				<td><input type="text" style="width: 220px;" class="form-control" name="userExpect" placeholder="1 0 2"></td>
    			</tr>
  			</tbody>
		</table>

				<button onclick="location.href = '{{ url_for('wagerdo', id=1) }}'"  type ="submit" form ="wager" class = "btn btn-success pull-right" value = "Submit">Bahis yap  </button>
		</form>





	</body>
</html>